body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe6f2; /* Light Pink */
}

.clock-container {
    width: 250px;
    height: 250px;
    background: #e03088; /* Darker Pink */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(255, 20, 147, 0.5);
    position: relative;
}

.clock-face {
    width: 90%;
    height: 90%;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 0 5px 15px rgba(204, 10, 114, 0.4);
}

/* Numbers Styling */
.number {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    transform: translate(-50%, -50%);
}

/* Clock Hands */
.hand {
    position: absolute;
    bottom: 50%;
    width: 4px;
    transform-origin: bottom;
    background: #ff00ff;
    border-radius: 5px;
}

.hour-hand {
    height: 50px;
    background: #0a35f5;
}

.minute-hand {
    height: 70px;
    background: #c9000d;
}

.second-hand {
    height: 85px;
    background: #036643;
}
